server:
  port: "8080"
  mode: "debug"

swagger:
  username: "admin"
  password: "F5KDq2exI1bTvIcISdWF"

database:
  driver: "mysql"
  host: "127.0.0.1"
  port: 3306
  username: "root"
  password: ""
  dbname: "db_testogo"
  charset: "utf8mb4"
  maxIdleConns: 10
  maxOpenConns: 100

jwt:
  secret: "123456"
  expire: 72 # hours

upload:
  savePath: "./resource"
  maxSize: 10 # MB
